<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jahid.acm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ACMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="acm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdvisorActivity" />
        <activity android:name=".EventHistoryActivity" />
        <activity android:name=".Notice" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PieChartActivity" />
        <activity android:name=".Officials_activity"></activity>
        <activity
            android:name=".PresentationActivity"
            android:screenOrientation="sensorLandscape"/>
    </application>

</manifest>